*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: $font-main;
  font-size: $font-size;
  color: $color-primary;
  overflow-y: scroll;
  line-height: 1.15;
}

.container {
  max-width: 960px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
