*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: $font-main;
  font-size: $font-size;
  color: $color-primary;
  overflow-y: scroll;
  line-height: 1.15;
}

h2 {
  font-size: 32px;
}

.container {
  max-width: $max-width;
  padding-left: $gap;
  padding-right: $gap;
  margin: 0 auto;
}

body.active {
  overflow-y: hidden;
  overflow: visible;
  padding-right: 18px;
  transition: transform 0.5s;
  transform: translateX(-214px);

  &::before {
    content: "";
    z-index: 10;
    height: 100%;
    opacity: 0.85;
    position: absolute;
    top: 0;
    right: 18px;
    bottom: 0;
    left: 0;
    transition: opacity 1s;
    background-color: $color-primary;
  }
}

body {
  overflow: hidden;
}

.footer-text,
.section-text {
  @media (min-width: $lg) {
    margin: 0px 80px 86px 80px;
  }

  @media (max-width: $lg) and (min-width: $md) {
    margin: 0px 60px 60px 60px;
  }

  @media (max-width: $md) {
    margin: 0px 0px 40px 0px;
  }
}
